@import url("code.css");

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('/static/fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'FiraMono';
    src: url('/static/fonts/FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

@media all {html {font-size: 20px;}}
@media all and (max-width:1000px){html {font-size: 20px;}}
@media all and (max-width:960px){html {font-size: 19px;}}
@media all and (max-width:920px){html {font-size: 18px;}}
@media all and (max-width:880px){html {font-size: 17px;}}
@media all and (max-width:840px){html {font-size: 16px;}}
@media all and (max-width:800px){html {font-size: 16px;}}
@media all and (max-width:760px){html {font-size: 16px;}}

/*#ffbf2d*/

body,html {
    background-color: #fff;
    width: 100%;
    height: 100%;
    line-height: 1.4em;
    padding: 0pt;
    margin: 0pt;
    font-family: 'Roboto', sans-serif;
}

pre {
    border-style: none;
    border-radius: 0.3em;
    background-color: #F2EFE4;
    border-width: thin;
    color: #423;
    font-size: 0.9em;
    padding: 10px;
    text-align: left;
    font-family: fixed-width;
    overflow-x: auto;
    margin-bottom: 0.8rem;
}

code {
    font-family: 'FiraMono', monospace;
}

.width-control {
    max-width: 950pt;
    width: 90%;
}

p {
    max-width: 50rem;
    margin-bottom: 0;
}

p + p {
    text-indent: 0.5rem;
    margin-top: 0.4rem;
}

#header {
    background: #333333;
    width: 100%;
    box-shadow: 0 3px 8px #ccc;
    margin-bottom: 1em;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#header .logo {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#header .baseline {
    color: #eee;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: none;  /* overridden below */
    padding: 10px;
    padding-top: 1rem;
}

#header .members {
    float: right;
}

#menubar {
    margin: auto;
    padding: 0px;
    clear: both;
}

#header-inner {
    margin: auto;
    padding: 0px;
}

@media screen and (min-width: 640px) {
    #header .baseline {
	display: block;
    }
}


#collaboration {
    border-top: solid 3pt #aaaaaa;
    border-bottom: solid 3pt #aaaaaa;
    background: #ffffff;
    width: 100%;
    bottom: 0px;
}
#collaboration-inner { margin: 10px auto 10px auto; }
#collaboration .members { text-align: center; }
#collaboration p { padding: 0px 10px 0px 10px; }
#collaboration .members ul { display: inline-block; padding: 0pt; margin: 0pt; }
#collaboration .members li { display: inline-block; padding: 0px 10px; 0px 0px; }

.post {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 25px;
}

hr {
    height: 3px;
    background: url('/static/images/h-separator-darker.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border: none;
}

.post h1 { color: #433; }
.post h2 { padding: 0pt; margin: 0pt; }

.post-about {
    color: #4D4D4D;
    font-size: 0.9em;
    margin-top: -3em;
}

#menubar ul { display: inline-block; padding: 0pt; margin: 0pt; }
#menubar li {
    display: inline-block;
    /* background: #dddddd; */
    color: #000000;
    height: 24pt;
    line-height: 24pt;
    list-style-type: none;
    margin: 0pt;
    margin: 0pt 10pt 0pt 0pt;
    /* padding: 3pt 5pt 3pt 5pt; */
    /* -webkit-border-radius: 0pt 0pt 4pt 4pt; */
    /* -moz-border-radius: 0pt 0pt 4pt 4pt; */
    /* border-radius: 0pt 0pt 4pt 4pt; */
    text-transform: uppercase;
    text-decoration: none;
    font-size: small;
}

#menubar li img {
    vertical-align: middle;
}

#menubar ul:first-child {
    padding-left: 10px;
}

#content {
    margin: auto;
    padding: 10pt;
}

#content .search-field {
    border: solid thin #aaaaaa;
    width: 100%;
    padding: 5pt;
    -webkit-border-radius: 4pt;
    -moz-border-radius: 4pt;
    border-radius: 4pt;
}

#content table {
    border-spacing: 0pt;
    padding: 0pt;
    -webkit-border-radius: 4pt;
    -moz-border-radius: 4pt;
    border-radius: 4pt;
    font-size: 12pt;
}

#content table td { padding: 2pt 4pt 2pt 4pt; height: 25pt; }

#stand-by {
    background: #decd87;
    -webkit-border-radius: 4pt;
    -moz-border-radius: 4pt;
    border-radius: 4pt;
    font-size: 12pt;
}

#stand-by p { padding: 5pt }

#footer-box {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #333333;
    font-size: 0.8rem;
}

h1 {
    clear: both;
    line-height: 125%;
    margin-top: 1.3rem;
    margin-bottom: .3rem;
    padding: 0pt;
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
}

h1:first-child {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 0;
}

.title a { border: none; }
a {
    color: #000000;
    outline: none;
    border-style: none none dashed none;
    border-width: thin;
    border-color: #ffbf2d;
    text-decoration: none;
}
a:visited {
    color: #433;
    border-style: none none solid none;
    border-width: thin;
    text-decoration: none;
}
a img { outline : none; }
img { border: none; }

#footer-box a { color: #333333; }
#footer-box a:visited { color: #333333; }
